{{> head}}

{{> navbar}}

<div class="container bg-light p-5 rounded-lg m-3 ">
  <div class="row">
    <div class="col-sm">
        <p class="lead"> About information</p>
    </div>
    <div class="col-sm">
        <img src="assets/img/logo_riu.png" class="img-thumbnail" >
    </div>
  </div>
</div>

{{> footer}}